/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Nov, 2017, 2:42:39 PM
    Author     : Raghu
*/

.upload-button {
    padding: 4px;
    margin-top: 50px;
    border-radius: 5px;
    display: block;
  
}

.profile-pic {
    max-width: 300px;
    max-height: 300px;
    display: block;
}

.file-upload {
    display: none !important;
}
.center-block{
    display: table;
    margin: auto;
}
